dash
fiftyone
h11
ipywidgets>=7.6,<8
jax[cuda]
jupyter-tensorboard
jupyterlab>=3
matplotlib
mendel-development-tool
numpy<1.24,>=1.18
#onnx2keras
#onnx_tf
#onnxruntime-gpu
opencv-contrib-python-headless
pandas
plotly
protobuf==3.20.3
pycoral
scikit-learn<=1.1.1
scipy==1.4.1
scoring
seaborn
#skl2onnx
statsmodels
#tensorboard
#tensorflow-gpu
tensorflow-model-optimization
tensorflow_probability
#tf2onnx
tflite-runtime
tornado
torch
torchaudio
torchsummary
torchvision
tqdm
umap-learn>=0.5

# hyperparameter optimization
ray[default]
ray[air]
ray[tune]
crc32c
tensorboardX

# pycoral for edgetpu
https://github.com/google-coral/pycoral/releases/download/v2.0.0/tflite_runtime-2.5.0.post1-cp38-cp38-linux_x86_64.whl
https://github.com/google-coral/pycoral/releases/download/v2.0.0/pycoral-2.0.0-cp38-cp38-linux_x86_64.whl
