dash
fiftyone
ipywidgets
jupyter-dash
jupyterlab
matplotlib
mendel-development-tool
numpy
onnxruntime-gpu
opencv-contrib-python-headless
pandas
plotly
protobuf==3.16.0
pycoral
scikit-learn
scipy
scoring
seaborn
skl2onnx
statsmodels
tf2onnx
tflite-runtime
torch
torchaudio
torchsummary
torchvision
tqdm
