dash
fiftyone
h11
ipywidgets>=7.6
jax[cuda]
jupyter-tensorboard
jupyterlab>=3
matplotlib
mendel-development-tool
numpy<1.24,>=1.18
#onnx2keras
#onnx_tf
#onnxruntime-gpu
opencv-contrib-python-headless
pandas
plotly
protobuf==3.20.3
pycoral
scikit-learn<=1.1.1
scipy==1.4.1
scoring
seaborn
#skl2onnx
statsmodels
#tensorboard
#tensorflow-gpu
tensorflow-model-optimization
tensorflow_probability
#tf2onnx
tflite-runtime
tornado
torch
torchaudio
torchsummary
torchvision
tqdm
umap-learn>=0.5

# hyperparameter optimization
ray[default]
ray[air]
ray[tune]
crc32c
tensorboardX
