beautifulsoup4
blenderproc
coremltools
cython
ffmpeg-python
fiftyone
h5py
imgaug
IPython[all]
ipywidgets>=7.6
jupyter-dash
jupyterlab
ipympl
kaleido
matplotlib
numpy
onnx
onnx-simplifier
opencv-contrib-python
optuna
pandas
Pillow
plotly
psycopg2-binary
pycocotools
pydot
pydot-ng
pytest
PyYAML
requests>=2.27.1
seaborn
scikit-learn
scikit-image
scipy
sympy
tensorflow==2.5.3
tensorflow-gpu==2.5.3
tensorflow_datasets
tensorflow_hub
tensorflowjs
tensorboard
tensorboard_plugin_profile
thop
torch
torchaudio
torchinfo
torchvision
tqdm
umap-learn
