jupyter-dash
jupyterlab
numpy
pandas
seaborn
scipy
matplotlib
plotly
torch
torchvision
torchaudio
torchsummary
openvino
openvino-dev
ipywidgets

# docs
sphinx
sphinx-book-theme
myst-nb
nbclient<0.6,>=0.2
jupytext
